
<ion-content >
      <div class="container">
        <!-- TODO: edit styling for this -->
          <ion-textarea placeholder="Enter username..." [value]="username$ | async" debounce=2000 (ionChange)="updateUsername()" [(ngModel)]="username"></ion-textarea>
          <ion-button>
            Public Game
          </ion-button>
          <br>
          <ion-button>
            Private Game
          </ion-button>
          <br>
          <ion-button (click)="generateId()">
            Create Game
          </ion-button>
        </div>
    



</ion-content>
