<ion-header>
  <ion-toolbar>
    <ion-title>GameBoard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- col.isEmpty is for white space -->
<ion-grid  *ngIf = "!singlePlayer">
  <ion-row *ngFor = "let row of uiSquares " >
    <!-- multiplayer -->
    <div *ngFor = "let col of row" class = "board-square" > 
      <!-- white square -->
      <ion-col *ngIf = "col.isEmpty" class = "white-square" (click) = "makeMove(col)">
        <button ion-button icon-only *ngIf="col.hasPiece && col.isWhite" class = "checker-piece white-piece" [disabled] = "!isPlayerWhite" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="col.hasPiece && !col.isWhite" class = "checker-piece black-piece" [disabled] = "isPlayerWhite" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
      </ion-col>

      <!-- black square -->
      <ion-col *ngIf = "!col.isEmpty" class = "black-square " (click) = "makeMove(col)">
        <button ion-button icon-only *ngIf="col.hasPiece && col.isWhite" class = "checker-piece white-piece" [disabled] = "!isPlayerWhite" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="col.hasPiece && !col.isWhite" class = "checker-piece black-piece" [disabled] = "isPlayerWhite" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button *ngIf = "!col.hasPiece" class = "checker-piece"></button>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>


     <!-- single player -->
  <ion-grid *ngIf = "singlePlayer" >
    <ion-row *ngFor = "let row of checkerSquares$ | async" >
    <div *ngFor = "let col of row" class = "board-square" >
      <ion-col *ngIf = "col.isEmpty" class = "white-square" (click) = "makeMove(col)">
        <button ion-button icon-only *ngIf="col.hasPiece && col.isWhite" class = "checker-piece white-piece" [disabled] = "!isWhiteMove" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="col.hasPiece && !col.isWhite" class = "checker-piece black-piece"  [disabled] = "isWhiteMove" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
      </ion-col>

      <ion-col *ngIf = "!col.isEmpty" class = "black-square " (click) = "makeMove(col)">
        <button ion-button icon-only *ngIf="col.hasPiece && col.isWhite" class = "checker-piece white-piece" [disabled] = " !isWhiteMove" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="col.hasPiece && !col.isWhite" class = "checker-piece black-piece"  [disabled] = "isWhiteMove" (click) = "selectPiece(col)">
          <ion-icon name="radio-button-on-outline" *ngIf="!col.isKing"></ion-icon>
          <ion-icon name="aperture-outline" *ngIf="col.isKing"></ion-icon>
        </button>
        <button *ngIf = "!col.hasPiece" class = "checker-piece"></button>
      </ion-col>
    </div>
  </ion-row>
  </ion-grid>
</ion-content>
