<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <h1>What is checkers?</h1>
        <p>Checkers is a game about the story of rising through the ranks and capturing your enemies.</p>
    </div>
    <div>
        <h1>How to play?</h1>
        <p>The objective of the game is to capture all your opponent's pieces or trap their pieces.</p>
        <p>The game alternates turns between 2 players. Black moves first. During your turn, move your pieces in any
            forward diagonal direction to any empty square.</p>
        <p>If an opponent piece is blocking your move, if there's an empty space diagonal behind them, you may "jump"
            over them, landing on said empty square in one swift direction, removing their piece from the game and
            moving towards the empty piece behind them.</p>
        <p>When you move your piece to the end of the board, you can promote that piece into a King. Being a king
            enables that piece to move backwards diagonally in addition to forwards.
        </p>
        <p>You win by capturing all the opponent's pieces or trapping their pieces such that they can't move.</p>
    </div>
    <div>
        <h1>What is <a href="https://myanimelist.net/anime/16498/Shingeki_no_Kyojin">Attack on Titan?</a></h1>
        <p>
            <em>
                After witnessing a horrific personal loss at the hands of the invading creatures, Eren Yeager dedicates
                his life to their eradication by enlisting into the Survey Corps, an elite military unit that combats
                the merciless humanoids outside the protection of the walls. </em>
        </p>
        <p><em>Based on Hajime Isayama's award-winning
                manga, Shingeki no Kyojin follows Eren, along with his adopted sister Mikasa Ackerman and his childhood
                friend Armin Arlert, as they join the brutal war against the titans and race to discover a way of
                defeating them before the last walls are breached.
            </em>
        </p>
    </div>
    <div>
        <p>BuildVersion: 1.2011292218</p>
    </div>
</ion-content>