<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Awesome Checker Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Awesome Checker Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button>
      Start Game
    </ion-button>
    <br>
    <ion-button>
      Load Game
    </ion-button>
    <br>
    <ion-button>
      Leader Board
    </ion-button>
    <br>
    <ion-button>
      About Checker
    </ion-button>
  </div>
</ion-content>
