<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Attack on Checkers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Attack on Checkers</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button>
      Join Game
    </ion-button>
    <br>
    <ion-button>
      Create Game
    </ion-button>
    <br>
    <ion-button (click)="showAboutModal()">
      About
    </ion-button>
    <br>
    <ion-button (click)="showCreditsModal()">
      Credits
    </ion-button>
  </div>
</ion-content>