<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Credits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>Who made this super duper weeb project?!</h1>
    <ul>
      <li>Kevin Li</li>
      <li>Sahithi Pisupati</li>
      <li>Kevin Wu</li>
      <li>Tri Le</li>
      <li>Jiongheng Li</li>
    </ul>
  </div>
  <div>
    <h1>How did you make this??</h1>
    <p>
      Made with 🩸,💦, and😭 with <a href="https://ionicframework.com/">Ionic Framework</a>, <em>a complete open-source
        SDK for hybrid mobile app development created by Max Lynch, Ben Sperry, and Adam Bradley of Drifty Co. in 2013.
        The
        original version was released in 2013 and built on top of AngularJS and Apache Cordova.</em> We
      <b>definitely</b>
      didn't copy that from Google.
    </p>
  </div>
  <div>
  </div>
  <div>
    <h1>Why did you make this?</h1>
    <p>
      This project was made in parallel with SE 181 at Drexel University, a software engineering course that
      introduces <em>advanced software development fundamentals including memory management, typing and scoping,
        datastores, software testing, and security, as well as user-centric design and user experience. This course will
        be taught using a specified programming language of instruction.</em>
    </p>
  </div>
</ion-content>